html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00adbd;
	background-image: linear-gradient(315deg, #09c6f9 0%, #00adbd 50%);
	color: #fff;
	font-family: sans-serif;
}

#content {
	width: fit-content;
	margin: auto;
}

#logo {
	display: block;
	min-width: 150px;
	width: 30%;
	height: auto;
	max-width: 250px;
	margin: auto;

	border-radius: 50%;
}

#details > * {
	font-size: 1.2em;
	text-align: center;
	margin: 5px;
}

#details .fa {
	margin-right: 5px;
}

#heading {
	font-family: 'B612', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

#dev-header {
	margin-top: 40px;
}
